<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="col-3 my-5 bg-light">会員情報編集</h3>
      <%= render 'layouts/error', object: @customer %>

      <div class="col-sm-14 col-md-12 col-lg-10">
        <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
          <table class="table table-borderless">

            <tr>
              <td>氏名</td>
              <td><%= f.text_field :last_name, class: "form-control" %></td>
              <td><%= f.text_field :first_name, class: "form-control" %></td>
            </tr>

            <tr>
              <td>フリガナ</td>
              <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
              <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
            </tr>

            <tr>
              <td>郵便番号</td>
              <td><%= f.text_field :post_code, class: "form-control" %></td>
            </tr>

            <tr>
              <td>住所</td>
              <td colspan="3"><%= f.text_field :address, class: "form-control" %></td>
            </tr>

            <tr>
              <td>電話番号</td>
              <td><%= f.text_field :telephone_number, class: "form-control" %></td>
            </tr>

            <tr>
              <td>メールアドレス</td>
              <td><%= f.text_field :email, class: "form-control" %></td>
            </tr>

            <tr>
              <td></td>
              <td><%= f.submit "編集内容を保存", class:"btn btn-success px-5" %></td>
              <td></td>
              <td><%= link_to "退会する", customers_unsubscribe_path, class:"btn btn-danger px-3" %></td>
            </tr>

          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>