<div class="container">
  <div class="row">
    <div class="col">
      <h3 class="col-2 my-5 bg-light">マイページ</h3>

      <div class="d-flex align-items-center my-4">
        <h3 class="mr-3"><b>登録情報</b></h3>
        <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success px-4" %>
      </div>

      <div class="col-sm-12 col-md-10 col-lg-8 px-sm-0">
        <table class="table table-bordered">
          <tr>
            <td class="bg-light">氏名</td>
            <td><%= @customer.last_name %><%= @customer.first_name %></td>
          </tr>

          <tr>
            <td class="bg-light">カナ</td>
            <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
          </tr>

          <tr>
            <td class="bg-light">郵便番号</td>
            <td><%= @customer.post_code %></td>
          </tr>

          <tr>
            <td class="bg-light">住所</td>
            <td><%= @customer.address %></td>
          </tr>

          <tr>
            <td class="bg-light">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>

          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>

        </table>
      </div>

     <!--空リンク-->
      <div class="d-flex align-items-center my-4">
        <h3 class="mr-3"><b>配送先　</b></h3>
        <%= link_to "一覧を見る", "#", class:"btn btn-primary px-4" %>
      </div>
      <div class="d-flex align-items-center my-4">
        <h3 class="mr-3"><b>注文履歴</b></h3>
        <%= link_to "一覧を見る", "#", class:"btn btn-primary px-4" %>
     </div>

    </div>
  </div>
</div>