<div class="container">
  <div class="row py-4">
    <div class="col-3 offset-1 bg-light text-center">
      <h3>商品編集</h3>
      <%= render 'layouts/error', object: @item %>

    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
      <div class="row-auto justify-content-center mt-4">
      <table class="mx-auto col-7">
        <tr>
          <td class="align-top"><%= f.label :商品画像 %></td>
          <td><%= f.file_field :item_image, accept: "image/*", class: "ml-4 mb-3 w-75" %></td>
        </tr>
        <tr>
          <td class="align-top"><%= f.label :商品名 %></td>
          <td><%= f.text_field :name, placeholder: '商品名', class: "ml-4 mb-3 w-75" %></td>
        </tr>
        <tr>
          <td class="align-top"><%= f.label :商品説明 %></td>
          <td><%= f.text_area :introduction, placeholder: 'ここに説明文を記述します', class: "ml-4 mb-3 w-75" %></td>
        </tr>
        <tr>
          <td class="align-top"><%= f.label :ジャンル %></td>
          <td><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), class: "form-control" %></td>
        </tr>
        <tr>
          <td class="align-top"><%= f.label :税抜価格 %></td>
          <td><%= f.text_field :price, placeholder: "1000", class: "ml-4 mb-3 w-75" %> 円
          </td>
        </tr>
        <tr>
          <td class="align-top"><%= f.label :販売ステータス %></td>
          <td class="pr-auto">
            <%= f.radio_button :is_active, :true, class: "ml-4" %>
            <%= f.label :販売中 %>
            <%= f.radio_button :is_active, :false, class: "ml-5" %>
            <%= f.label :販売停止中 %>
          </td>
        </tr>
      </table>

      <div class="mx-auto col-2">
        <%= f.submit '新規登録', class: "btn btn-success col py-3 my-4", style: "font-weight: bold; font-size: 18px;" %>

      </div>
    </div>
  <% end %>
</div>
