<div class="container">
  <div class="row">
    <%= image_tag "img1.jpg", size: "100x100" %>
    <h1>テキスト</h1>
  </div>
    <div class-"row">
      <div class="d-flex flex-wrap">
        <% @items.each do |item| %>
          <%= link_to item_path(item.id), class: "text-decoration-none w-25" do %>
            <div class="card m-2 p-1 card-hover">
              <% if item.image.attached? %>
                <%= image_tag item.image, size: "100x100" %>
              <% else %>
                <%= image_tag "no_image.jpg", size: "100x100" %>
              <% end %>
                <div class="card-body text-body">
                  <h5 class="card-title text-primary"><%= item.name %></h5>
                  <p class="card-text text-primary">¥<%= item.price %></p>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>