<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>

<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>

  <tr>
    <td>氏名</td>
    <td><%= @customer.last_name %></td>
    <td><%= @customer.first_name %></td>
  </tr>

  <tr>
    <td>フリガナ</td>
    <td><%= @customer.last_name_kana %></td>
    <td><%= @customer.first_name_kana %></td>
  </tr>

  <tr>
    <td>郵便番号</td>
    <td><%= @customer.post_code %></td>
  </tr>

  <tr>
    <td>住所</td>
    <td><%= @customer.address %></td>
  </tr>

  <tr>
    <td>電話番号</td>
    <td><%= @customer.telephone_number %></td>
  </tr>

  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>

  <tr>
    <td>会員ステータス</td>
    <td><%= @customer.is_active ? "有効" : "退会" %></td>
  </tr>

</table>

<%= link_to "編集する", edit_admin_customer_path %>