<h1>注文履歴一覧</h1>

<h3>注文履歴一覧</h3>
<table class="table">
  <tr>
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>注文ステータス</td>
  </tr>

  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to admin_order_path(order) do %>
          <%= l order.created_at %>
        <% end %>
      </td>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td><%= order.order_details.sum(:amount) %></td>
      <td><%= order.status_i18n %></td>
    </tr>
  <% end %>
</table>