<h2>Sign up</h2>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="field">
    <%= f.label :姓 %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :名 %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :セイ %><br />
    <%= f.text_field :last_name_kana %>
  </div>
  <div class="field">
    <%= f.label :メイ %><br />
    <%= f.text_field :first_name_kana %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :郵便番号 %><br />
    <%= f.text_field :post_code %>
  </div>
  <div class="field">
    <%= f.label :住所 %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :電話番号 %><br />
    <%= f.text_field :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "public/shared/links" %>