<div class="container">
  <div class="row my-3">
    <div class="col-4 bg-light text-center">
      <h3>注文情報確認</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= render 'layouts/error', object: @order %>
      <table class="table-bordered">
        <tr>
          <td scope="col" style="width: 30%;">商品名</td>
          <td scope="col" style="width: 20%;">単価</td>
          <td scope="col" style="width: 20%;">数量</td>
          <td scope="col" style="width: 20%;">小計</td>
        </tr>

        <% @total_price = 0 %>
        <% @cart_items.each do |cart_item| %>

        <tr>
          <td>
            <%= image_tag cart_item.item.get_item_image(90, 90) %><%= cart_item.item.name %>
          </td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= number_with_delimiter(cart_item.subtotal) %></td>
          <% @total_price += cart_item.subtotal %>
        </tr>
       <% end %>
      </table>
    </div>
    <div class="col-3 offset-md-1">
      <table class="table-bordered">
        <tr>
          <td>送料</td>
          <td><%= @shipping_cost %></td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td><%= number_with_delimiter(@total_price) %></td>
        </tr>
        <tr>
          <td>請求金額</td>
          <td><%= number_with_delimiter(@total_price + @shipping_cost) %></td>
        </tr>
      </table>
    </div>
  </div>
  <table>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <th>お届け先</th>
      <td>
        <%= @order.address %>
        <%= @order.name %>
      </td>
    </tr>
  </table>
  <div class="row justify-content-center">
    <%= form_with model: @order , url: orders_path, method: :post do |f| %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :shipping_cost, value: @shipping_cost %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :total_payment, value: @total_price + @shipping_cost %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :status, value: "wait_payment" %>
      <%= f.submit "注文を確定する", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>