<h3>注文情報入力</h3>

<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <div>
    <b>支払方法</b><br />
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    <br />
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
  </div>

  <div>
    <b>お届け先</b><br />
    <%= f.radio_button :address, "current_customer.address", checked: true %>
    <%= f.label :address_type, "ご自身の住所" %><br />
    〒<%= current_customer.post_code + " " + current_customer.address %><br />
    <%= current_customer.last_name + current_customer.first_name %>
  </div>

<% end %>