<h3>注文情報入力</h3>

<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>
  <div>支払方法</div>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0), checked: true  %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>

  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>

  <div>お届け先</div>
  <%= f.radio_button :select_address, 0, checked: true %>
  <%= f.label :address, "ご自身の住所" %></br>
  〒<%= current_customer.post_code + " " + current_customer.address %></br>
  <%= current_customer.last_name + current_customer.first_name %></br>

  <%= f.radio_button :select_address, 1 %>
  <%= f.label :address, "登録済住所から選択" %></br>
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></br>

  <%= f.radio_button :select_address, 2 %>
  <%= f.label :addres, "新しいお届け先" %>
  <table>
    <tr>
      <td>郵便番号（ハイフンなし）</td>
      <td><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>宛名</td>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>

  <br>
  <%= f.submit "確認画面へ進む", class: "btn btn-info" %>


<% end %>