<div class="container my-4">
  <div class="col-4 bg-light text-center">
    <h3>注文履歴詳細</h3>
  </div>
  <div><b>注文情報</b></div>
  <table class="table">
    <tr>
      <td>注文日</td>
      <td><%= l @order.created_at %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td>
        〒<%= @order.post_code %></br>
        <%= @order.address %></br>
        <%= @order.name %>
      </td>
    </tr>
    <tr>
      <td>支払方法</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><%= @order.status_i18n %></td>
    </tr>
  </table>
  
  
  <div><b>注文内容</b></div>
  <table class="table">
    <tr>
      <td>商品</td>
      <td>単価（税込)</td>
      <td>個数</td>
      <td>小計</td>
    </tr>
  
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.item.with_tax_price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.amount * order_detail.item.with_tax_price %></td>
    </tr>
    <% end %>
  </table>
  
  
  <div><b>請求情報</b></div>
  <table class="table">
    <tr>
      <td>商品合計</td>
      <td><%= @order.total_payment - @order.shipping_cost %></td>
    </tr>
    <tr>
      <td>配送料</td>
      <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td><%= @order.total_payment %></td>
    </tr>
  </table>
</div>