<div class="container">
  <h2>商品一覧</h2>

  <div class="d-flex flex-wrap">
    <% @items.each do |item| %>
      <div class="mr-3">
        <%= link_to item_path(item.id), class: "text-decoration-none text-dark" do %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "220x150" %><br />
          <% else %>
            <%= image_tag 'no_image', size: "220x150" %><br />
          <% end %>
          <%= item.name %><br />
        <% end %>

        ¥<%= number_with_delimiter(item.price) %>
      </div>
    <% end %>
  </div>

  <!-- 1ページ当たりの表示数が8個のペネトレーション設定 -->
  <%= paginate @items %>
</div>
