<%= image_tag @item.get_item_image(330, 220) %><br />

<h2><%= @item.name %></h2>

<%= @item.introduction %><br />

¥<%= number_with_delimiter(@item.with_tax_price) %>(税込)

<% if @item.is_active? %>
  <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..10], include_blank: '個数選択' %>
    <%= f.submit 'カートに入れる', class: 'btn btn-success' %>

  <% end %>
<% end %>